{% extends "main.html" %}

{% block head %}
    {{ jimi.jquery() }}
{% endblock %}

{% block main %}
  <div class="container-fluid">
    Expiry:<br>
    <input type='text' value="86400" class="form-control form-control-sm full-width textbox" id='expiry'><br>
    Access Count:<br>
    <input type='text' value="1" class="form-control form-control-sm full-width textbox" id='accessCount'><br>
    Message:<br>
    <textarea id="message" class="form-control form-control-sm full-width textbox" style="height: 60%"></textarea></br></br>
    <button id="run" class="btn btn-primary button">Generate Viewonce</button></br>
    <br>
    <br>
    Output:<br>
    <label id="output" style="width: 100%; word-wrap: break-word;"></label>
  </div>
  <script>
    var CSRF = "{{CSRF}}"
  </script>
  
  <script>
    $("#run").click(function () {
      $.ajax({url: "", type:"POST", data:JSON.stringify({ message: $('#message').val(), expiry: $('#expiry').val(), accessCount: $('#accessCount').val(), CSRF: CSRF }), contentType:"application/json", success: function(result) {
          var url = window.location.href
          $('#output').text(url+result["uri"])
        } 
      });
    });
  </script>
{% endblock %}
